@media(max-width: 768px){
    .container{
        background-image: url("/images/bg-main-tablet.png");
    }
    .photo {
        right: -50px;
        top: -50px;
    }
    main h1{
        font-size: 64px;
        line-height: 64px;
        
    }
    main {
        margin-top: 100px;
    }
    main p{
        font-size: 18px;
        line-height: 28px;
        padding-right: 0;
    }
    .mobile {
        width: 270.21px;
        height: 556px;
        left: 25px;
        top: -140px;
    }
    .orange-div{
        width: 399px;
        height: 546px;
        z-index: 2;
        right: 25px;
        top: 150px;
    }
    .colorful-photo {
        left: 55%;
        top: -5%;
    }
    .orange-div div{
        width: 302px;
    }
    .orange-div h3{
        font-size: 32px;
    }
    .orange-div p {
        font-size: 18px;
        line-height: 28px;
    }
    .logo{
        margin-bottom: 30px;
    }
    .logo-contact-div{
        flex-direction: column;
    }

}
@media (max-width: 375px){
    .container{
        background-image: url("/images/bg-main-mobile.png");
        background-position: left;
    }
    .photo{
        display: none;
    }
    main{
        padding: 0;
        width: 90%;
    }
    main h1{
        font-size: 40px;
        line-height: 48px;
    }
    main p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 60px;
    }
    section{
        width: 100%;
        margin-top: 160px;
    }
    .mobile {
        width: 208.97px;
        height: 430px;
        top: -100px;
        left: 25%;

    }
    .orange-div{
        width: 100%;
        left: 0;
        top: 430px;
    }
    .colorful-photo{
        top: 0;
    }
    footer {
        width: 90%;
        margin-top: 500px;
        flex-direction: column;
    }
    .social-icons {
        margin-top: 60px;
    }
}