.container {
    max-width: 1440px;
    width: 100%;
    /* height: 100vh; */
    margin: 0 auto;
    border: 1px solid red;
    background-image: url('/images/bg-main-desktop.png');
    background-position: top center;
    /* background-size: cover; */
    

}
.header-photo {
    /* display: flex;
    justify-content: center; */
    position: relative;
}
.photo {
    position: absolute;
    right: 0;
    top: 0;
    width: 312px;
    height: 468px;
}
header {
    padding-top: 62px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}
main {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    width: 80%;
    margin: 0 auto;
    padding-right: 200px;
    margin-top: 150px;
    border: 1px solid red;
}
main h1 {
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
    margin-bottom: 40px;
}
main p {
    font-size: 20px;
    line-height: 34px;
    color: #191826;
    padding-right: 160px;
    /* width: 90%; */
}
section {
    width: 80%;
    margin: 0 auto;
    background-color: #191826;
    height: 600px;
    position: relative;
    margin-top: 321px;
}
.colorful-photo {
    position: absolute;
    left: 42%;
    top: -10%;
    transform: translate(-50%);
}
.mobile {
    position: absolute;
    width: 312px;
    height: 642px;
    left: 102px;
    top: -230px;
    z-index: 1;
}
.orange-div {
    position: absolute;
    width: 446px;
    height: 625px;
    background-color: #FA7453;
    right: 130px;
    top: 90px;
    border-radius: 12px;
}
.orange-div div{
    width: 333px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}
.orange-div h3{
    font-size: 40px;
    color: #FCFAF9;
    font-weight: 700;
}
.orange-div p{
    color: #FCFAF9;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    
}
.orange-div h6{
    font-weight: 700;
    font-size: 65px;
    color: #FCFAF9;
    
}
.orange-div span {
    font-weight: 400;
    font-size: 20px;
}
.orange-div button {
    border: none;
    background-color: none;
    
    height: 61px;
    border-radius: 12px;
}
.ios{
    background-color: #191826;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 18px;
}
.android {
    background-color: #FCFAF9;
    color: #191826;
    font-weight: 700;
    font-size: 18px;
}